<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title th:text="'Главная страница'" />
</head>
<body>
<h1 th:text="${welcome}" />

</p><a th:href="@{/news}"> Новости (Все, включая незагеристрированных ) </a>
<br/><br/>
</p><a th:href="@{/user/show}"> Посмотреть свой профиль (Зарегистрированные пользователи) </a>
<br/><br/>
</p><a th:href="@{/admin/listedUsers}"> Посмотреть список всех пользователей (Только администратор) </a>
<br/><br/>
</p><a th:href="@{/logout}"> Сделать logout </a>
<br/><br/>
</body>
</html>