<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/user-edit/{id}(id=${user.id})}" th:object="${user}" method="post">
    <p><label for="username">User name</label>
        <input type="text" th:field="*{name}" id="username">
    </p>
    <p><label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password">
    <p>
    <p><label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
    <p>
    <p><label for="roles">Roles</label>
            <input type="text" th:field="*{roles}" id="roles">
    <p>
    <input type="submit" value="Update User"></p>
</form>
</body>
</html>




<!--    <a th:each="role:${user.roles}">
        <a th:text="${role.role}"> A Role</a>
        <a th:text="';'"></a></a>    -->