<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>List of Users</title>
</head>
<body>
<h1 style="color: blue" >Users</h1>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<table>
    <thread>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Role/Roles</th>
        <th>Action</th>
    </thread>
    <tbody>
    <tr th:each="user :${listOfUsers}">
        <td th:text="${user.name}"/>
        <td th:text="${user.password}"/>
        <td th:text="${user.email}"/>
        <td><a th:each="role:${user.roles}">
             <a th:text="${role.role}"> A Role</a>
             <a th:text="';'"></a>
        </td>
        <td>
            <a th:href="@{/admin/user-edit/{id}(id=${user.id})}">edit</a>
            <a th:href="@{/admin/user-delete/{id}(id=${user.id})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
</p><a th:href="@{/admin/user-create}"> Add user</a>
</p><a th:href="@{/logout}"> Сделать logout </a>
</p><a th:href="@{/}"> Вернуться на главную </a>
</body>
</html>
